Source: wsgi-intercept
Maintainer: Titus Brown, Kumar McMillan, Chris Dent <cdent@peermore.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-wsgi-intercept
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: wsgi_intercept installs a WSGI application in place of a rea
 installs a WSGI application in place of a real URI for testing.
 .
 Introduction
 ============
 .
 Testing a WSGI application normally involves starting a server at a
 local host and port, then pointing your test code to that address.
 Instead, this library lets you intercept calls to any specific host/port
 combination and redirect them into a `WSGI application`_ importable by
 your test program. Thus, you can avoid spawning multiple processes or
 threads to test your Web app.
 .
 How Does It Work?
 =================
 .
 ``wsgi_intercept`` works by replacing ``httplib.HTTPConnection`` with a
 subclass, ``wsgi_intercept.WSGI_HTTPConnection``. This class then
 redirects specific server/port combinations into a WSGI application by
 emulating a socket. If no intercept is registered for the host and port
 requested, those requests are passed on to the standard handler.
